.banner {
	width: 100%;
	height: 100%;
	background: $color_grad_bg, url("../img/banner_m.png") center / cover no-repeat;
	padding-top: rem(56);

	&__wrapper {
		height: 100%;
		opacity: 1;
		transition: opacity 0.5s ease 0.5s;
		display: flex;
		flex-direction: column;
		row-gap: 5px;
		justify-content: center;
		align-items: center;
		&._active {
			opacity: 0;
			transition: opacity 0.5s ease;
		}
	}

	&__subtitle {
		display: flex;
		align-items: center;
		flex-grow: 1;
		text-align: center;
		font-family: "Kaushan Script";
		font-size: rem(36);
		line-height: prc(52, 36);
		color: #ffffff;
		// margin-bottom: rem(58);
	}

	&__title {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-grow: 1;
		text-align: center;
		font-family: "Montserrat";
		font-weight: 700;
		font-size: rem(48);
		line-height: prc(59, 48);
		text-transform: uppercase;
		color: #ffffff;

		&::after {
			content: "";
			display: block;
			height: 4px;
			width: em(134,48);
			margin: em(67,48) auto 0;
			// margin: rem(67) auto rem(49);
			background: #fff;
		}
	}

	&__button-container {
		display: flex;
		align-items: center;
		flex-grow: 1;
		width: 100%;
		max-width: em(318,16);
		margin: 0 auto;
	}

	&__button {
		display: block;
		border: 4px solid #fff;
		text-align: center;
		width: 100%;
		padding: em(17,18) em(20,18);
		font-family: "Raleway";
		font-weight: 700;
		font-size: rem(18);
		line-height: prc(21, 18);
		text-transform: uppercase;
		color: #ffffff;
	}

	&__menu {
		width: 100%;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: em(20,16);
	}

	&__menu-item {
		padding: em(15,16) 0;
		flex: 1 1 prc(57, 320);
		border-top: 4px solid #f9efcf;

		&:first-child {
			border-top: 4px solid $color_coral;
		}
	}

	&__menu-link {
		display: none;
	}

	@media (min-width: $md) {
		& {
			padding-top: rem(68);
		}

		&__subtitle {
			font-size: rem(48);
		}

		&__title {
			font-size: rem(96);

			&::after {
				width: em(115,96);
				margin-top: em(38,96);
			}
		}

		&__menu-item {
			&:first-child a {
				color: #ffffff;
			}
		}

		&__menu-link {
			display: inline;
			font-family: "Raleway";
			font-weight: 500;
			font-size: rem(14);
			line-height: prc(16, 14);
			color: #f9efcf;
			text-transform: uppercase;

			& span {
				font-weight: 700;
				font-size: rem(24);
				line-height: prc(28, 24);
			}
		}
	}

	@media (min-width: $lg) {
		& {
			padding-top: rem(100);
			background: $color_grad_bg, url("../img/banner_l.png") center / cover no-repeat;
		}

		&__subtitle {
			font-size: rem(64);
		}

		&__title {
			font-size: rem(144);

			&::after {
				width: em(170,144);
				margin-top: em(54,144);
			}
		}

		&__button-container {
			max-width: em(370,16);
		}

		&__button {
			padding: em(25,24) em(20,24);
			font-size: rem(24);
		}

		&__menu {
			column-gap: em(30,16);
		}

		&__menu-item {
			padding: em(20,16) 0;
		}
	}

	@media (max-height: rem(750)) {
		&__subtitle {
			font-size: rem(34);
		}
		&__title {
			font-size: rem(38);

			&::after {
				margin-top: em(50,48);
			}
		}
		&__button {
			font-size: rem(17);
		}
	}
	@media (max-height: rem(600)) {
		&__subtitle {
			font-size: rem(32);
		}
		&__title {
			font-size: rem(36);

			&::after {
				margin-top: em(45,48);
			}
		}
		&__button {
			font-size: rem(16);
		}
	}
	@media (max-height: rem(500)) {
		&__subtitle {
			font-size: rem(28);
		}
		&__title {
			font-size: rem(32);

			&::after {
				margin-top: em(30,48);
			}
		}
		&__button {
			font-size: rem(15);
		}
	}
	@media (max-height: rem(400)) {
		&__subtitle {
			font-size: rem(24);
		}
		&__title {
			font-size: rem(28);

			&::after {
				margin-top: em(10,48);
			}
		}
		&__button {
			font-size: rem(14);
		}
	}
}
