@font-face {
	font-family: 'mogo-icons';
	src:  url('fonts/mogo-icons.eot?pj5z6z');
	src:  url('fonts/mogo-icons.eot?pj5z6z#iefix') format('embedded-opentype'),
	  url('fonts/mogo-icons.ttf?pj5z6z') format('truetype'),
	  url('fonts/mogo-icons.woff?pj5z6z') format('woff'),
	  url('fonts/mogo-icons.svg?pj5z6z#mogo-icons') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
 }

 [class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'mogo-icons' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
 }

 .icon-aim:before {
	content: "\e900";
 }
 .icon-basket:before {
	content: "\e901";
 }
 .icon-blocks:before {
	content: "\e902";
 }
 .icon-css:before {
	content: "\e903";
 }
 .icon-gear:before {
	content: "\e904";
 }
 .icon-glasses:before {
	content: "\e905";
 }
 .icon-map:before {
	content: "\e906";
 }
 .icon-mushroom:before {
	content: "\e907";
 }
 .icon-people:before {
	content: "\e908";
 }
 .icon-s_dribble:before {
	content: "\e909";
 }
 .icon-s_facebook:before {
	content: "\e90a";
 }
 .icon-s_instagram:before {
	content: "\e90b";
 }
 .icon-s_linkedin:before {
	content: "\e90c";
 }
 .icon-s_pinterest:before {
	content: "\e90d";
 }
 .icon-s_tiktok:before {
	content: "\e90e";
 }
 .icon-s_twitter:before {
	content: "\e90f";
 }
 .icon-s_youtube:before {
	content: "\e910";
 }
 .icon-screw:before {
	content: "\e911";
 }
 .icon-search:before {
	content: "\e912";
 }
 .icon-sword:before {
	content: "\e913";
 }
 .icon-target:before {
	content: "\e914";
 }
 .icon-thought:before {
	content: "\e915";
 }
 .icon-trophy:before {
	content: "\e916";
 }
