.quotes {
	background: #f8f8f8;

	&__slide {
	}

	&__pic {
	}

	&__img {
	}

	&__col {
	}

	&__quote {
		font-style: italic;
		font-weight: 500;
		font-size: rem(14);
		line-height: prc(16, 14);
		color: #a9afb1;
		margin: rem(30) 0;
	}

	&__author {
		font-family: "Kaushan Script";
		font-size: rem(18);
		line-height: prc(26, 18);
		color: #000000;
		position: relative;
		padding-left: rem(85);
		margin-bottom: rem(60);

		&::before{
			content: '';
			display: block;
			height: rem(4);
			width: rem(48);
			background: $color_coral;
			position: absolute;
			top: 40%;
			left: 0;
		}
	}

	@media (min-width: $md) {

	}

	@media (min-width: $xl) {

	}
}
