.service {
	padding: rem(45) 0 rem(58);

	&__title {
		margin-bottom: rem(66);
	}

	&__block {
		display: grid;
		justify-content: center;
		gap: rem(36);
	}

	&__item {
		display: flex;
		gap: rem(20);
	}

	&__icon {
		font-size: rem(57);
		color: $color_salad;
	}

	&__column {
	}

	&__slogan {
		padding: em(17,18) 0;
	}

	&__desc {
		font-size: rem(14);
		line-height: prc(16, 14);
	}

	@media (min-width: $md) {
		padding: rem(46) 0 rem(58);

		&__block {
			grid-template: repeat(2,1fr)/repeat(3,1fr);
			row-gap: rem(58);
			column-gap: rem(25);
		}
	}

	@media (min-width: $xl) {
		padding: rem(60) 0 rem(90);

		&__block {
			row-gap: rem(140);
			column-gap: rem(30);
		}

		&__item {
			gap: rem(30);
		}

		&__icon {
			font-size: rem(70);
		}

		&__desc {
			font-size: rem(18);
		}

	}
}
