.tech {
	background: #F8F8F8;
	padding: rem(50) 0;

	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	&__item {
		flex: 0 0 45%;
		display: flex;
		justify-content: center;
		align-items: center;

		&:nth-child(3),
		&:nth-child(6) {
			flex-basis: 100%;
		}

		&:nth-child(3) img,
		&:nth-child(6) img {
			width: prc(45,290);
		}
	}

	&__img {
		width: prc(45,130);
	}

	@media (min-width: $md) {
		&__row {
			flex-wrap: nowrap;
		}

		&__item {
			flex: 0 0 16%;

			&:nth-child(1) {
				order: 1;
			}

			&:nth-child(2) {
				order: 2;
			}

			&:nth-child(3) {
				order: 5;
			}

			&:nth-child(4) {
				order: 4;
			}

			&:nth-child(5) {
				order: 3;
			}

			&:nth-child(6) {
				order: 6;
			}

			&:nth-child(3),
			&:nth-child(6) {
				flex-basis: 16%;
			}

			&:nth-child(3) img,
			&:nth-child(6) img {
				width: prc(45,160);
			}
		}

		&__img {
			width: prc(45,160);
		}
	}

	@media (min-width: $xl) {
		padding: rem(65) 0;
		&__item {
			&:nth-child(3) img,
			&:nth-child(6) img {
				width: prc(65,187);
			}
		}

		&__img {
			width: prc(65,187);
		}

	}
}
