// ---FUNCTIONS---
@function prc($px1, $px2) {
	$result: calc($px1 / $px2 * 100%);
	@return $result;
}

@function em($px, $fz) {
	$result: calc($px / $fz) + em;
	@return $result;
}

@function rem($px) {
	$result: calc($px / 16) + rem;
	@return $result;
}

// ---VARIABLES---
$kaushan: "Kaushan Script", cursive;

$color_coral: #f38281;
$color_salad: #95e1d3;
$color_grad_bg: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);

$maxWidth: 94.375rem; //1510px
$minWidthContainer: 19.9375rem; //319px
$maxWidthContainer: 75rem; // 1200px
$maxHeight: 75rem; // 1200px

$sm: 36rem; // 576px
$md: 48rem; // 768px
$lg: 62rem; // 992px
$xl: 75rem; // 1200px

// ---TEMPLATES---
%tpl_flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

// ---MIXINS---
@mixin adaptive-width($property, $startSize, $minSize) {
	$difSize: $startSize - $minSize;
	#{$property}: calc(#{$minSize + px} + #{$difSize} * ((100vW - 320px) / #{1200 - 320}));
}

@mixin adaptive-height_sm($property, $startSize, $minSize) {
	$difSize: $startSize - $minSize;
	#{$property}: calc(#{$minSize + px} + #{$difSize} * ((100vmin - 320px) / #{574 - 320}));
}

@mixin adaptive-height_md($property, $startSize, $minSize) {
	$difSize: $startSize - $minSize;
	#{$property}: calc(#{$minSize + px} + #{$difSize} * ((100vmin - 320px) / #{695 - 320}));
}

@mixin adaptive-height_lg($property, $startSize, $minSize) {
	$difSize: $startSize - $minSize;
	#{$property}: calc(#{$minSize + px} + #{$difSize} * ((100vmin - 320px) / #{1024 - 320}));
}

