// ---IMPORT---
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script:regular);
@import url(https://fonts.googleapis.com/css?family=Raleway:regular,500,600,700,900,italic,500italic);

@import "_fonts.scss";

@import "../../node_modules/swiper/swiper.scss";
@import "../../node_modules/swiper/modules/pagination/pagination.scss";
@import "../../node_modules/swiper/modules/navigation/navigation.scss";
// --- Import swiper bundle CSS file
// @import "../../node_modules/swiper/swiper-bundle";

@import "_nullify_style.scss";
@import "_nullify_buttons.scss";
@import "_nullify_links.scss";
@import "_utils.scss";

@import "_header.scss";
@import "_banner.scss";
@import "_about.scss";
@import "_performance.scss";
@import "_service.scss";
@import "_design.scss";
@import "_job.scss";
@import "_quotes.scss";
@import "_team.scss";
@import "_tech.scss";
@import "_work.scss";
@import "_statements.scss";
@import "_reviews.scss";
@import "_blog.scss";
@import "_contacts.scss";
@import "_footer.scss";

// ---MAIN---
body {
	font-family: "Raleway", sans-serif;
	color: #2d3033;
}

body._lock {
	overflow: hidden;
}

.container {
	width: 100%;
	// min-width: $minWidthContainer;
	max-width: $maxWidthContainer;
	margin-left: auto;
	margin-right: auto;
	padding: 0 rem(15);
}

.main {
	width: 100%;
	height: 100%;
}

.menu {
	&__list {
	}

	&__item {
		position: relative;
		display: block;
		text-align: center;
		@include adaptive-height_sm("padding-top", 30, 15);
		@include adaptive-height_sm("padding-bottom", 30, 15);
	}

	&__link {
		text-align: center;
		font-weight: 600;
		font-size: rem(13);
		line-height: prc(15, 13);
		text-transform: uppercase;
		color: #ffffff;

		&:hover,
		&:active {
			color: #f4bf87;
		}

		&:hover + span,
		&:active + span {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			height: 2px;
			width: 30%;
			background: #f4bf87;
		}
	}
}

.title {
	&__subtitle {
		font-family: $kaushan;
		font-size: rem(24);
		line-height: prc(35, 24);
		text-align: center;
		margin-bottom: em(38, 24);
	}

	&__title {
		font-weight: 900;
		font-size: rem(24);
		line-height: prc(28, 24);
		text-align: center;
		text-transform: uppercase;

		&::after {
			content: "";
			display: block;
			margin: em(41, 24) auto em(15, 24);
			height: rem(4);
			width: em(134, 24);
			background: $color-coral;
		}
	}

	&__desc {
		font-size: rem(14);
		line-height: prc(16, 14);
		text-align: center;
		color: #000000;
		margin-bottom: em(33, 14);
	}
}

@media (min-width: $md) {
	.menu {
		&__list {
			display: flex;
			justify-content: end;
			align-items: center;
			height: 100%;
		}

		&__item {
			text-align: center;
			width: em(68, 13);
			padding: 0;
		}

		&__link {
			&:hover + span,
			&:active + span {
				bottom: rem(-7);
				width: 100%;
			}
		}
	}

	.title {
		&__subtitle {
			margin-bottom: em(35, 24);
		}

		&__title {
			&::after {
				margin-bottom: em(32, 24);
				width: em(148, 24);
			}
		}

		&__desc {
			margin-bottom: em(80, 14);
		}
	}
}

@media (min-width: $xl) {
	.menu {
		&__item {
			width: em(100, 14);
		}

		&__link {
			font-size: rem(14);
		}
	}

	.title {
		&__subtitle {
			font-size: rem(30);
			margin-bottom: em(40, 30);
		}

		&__title {
			font-size: rem(36);

			&::after {
				margin: em(45, 24) auto em(37, 36);
				width: em(170, 36);
			}
		}

		&__desc {
			font-size: rem(18);
			margin-bottom: em(37, 18);
		}
	}
}

.subtitle {
	font-weight: 700;
	font-size: rem(18);
	line-height: prc(21, 18);
	text-transform: uppercase;

	@media (min-width: $xl) {
		font-size: rem(24);
	}
}

.quote {

	&__slide {
	}

	&__pic {
		display: flex;
		justify-content: center;
		align-items: center;
}

	&__img {
		display: none;
		width: rem(115);
		height: rem(115);

		&_visible{
			margin-top: rem(58);
			display: block;
			border-radius: 50%;
			overflow: hidden;
		}
	}

	&__col {
	}

	&__quote {
		font-style: italic;
		font-weight: 500;
		font-size: rem(14);
		line-height: prc(16, 14);
		color: #a9afb1;
		margin: rem(30) 0;
	}

	&__author {
		font-family: "Kaushan Script";
		font-size: rem(18);
		line-height: prc(26, 18);
		color: #000000;
		position: relative;
		padding-left: rem(85);
		margin-bottom: rem(60);

		&::before {
			content: "";
			display: block;
			height: rem(4);
			width: rem(48);
			background: $color_coral;
			position: absolute;
			top: 40%;
			left: 0;
		}
	}

	@media (min-width: $md) {
		&__slide {
			display: flex;
			padding: rem(28) prc(100, 994);
		}

		&__img {
			display: block;
			width: rem(115);
			height: rem(115);

			&_visible{
				margin-top: 0;
			}
		}

		&__col {
			margin-left: rem(34);
		}

		&__quote {
			font-size: rem(18);
			margin: 0 0 rem(14);
		}

		&__author {
			font-size: rem(24);
			margin-bottom: 0;
		}
	}

	@media (min-width: $xl) {
		&__slide {
			padding: rem(42) prc(100, 1024);
		}

		&__img {
			width: rem(170);
			height: rem(170);
		}
		&__quote {
			font-size: rem(24);
			margin: rem(42) 0 rem(21);
		}

		&__author {
			font-size: rem(30);
			padding-left: rem(126);
			margin-bottom: rem(42);

			&::before {
				width: rem(70);
			}
		}
	}
}

// ---SWIPER---
.swiper-button-prev,
.swiper-button-next {
	display: none;

	@media (min-width: $md) {
		display: block;
		color: #c6cbcd;
		&::after {
			font-size: rem(28);
		}
	}

	@media (min-width: $xl) {
		&::after {
			font-size: rem(42);
		}
	}
}

.swiper-pagination {
	bottom: rem(28) !important;

	@media (min-width: $md) {
		display: none;
	}
}

.swiper-pagination-bullet {
	height: rem(10);
	width: rem(10);
	background: transparent;
	border: 2px solid #c6cbcd;
	margin: 0 rem(10) !important;
}

.swiper-pagination-bullet-active {
	background: #c6cbcd;
}
