// ---IMPORT---
@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic,regular,700);
@import "_nullify_style.scss";
@import "_nullify_buttons.scss";
@import "_nullify_links.scss";
@import "_header.scss";
@import "_footer.scss";
// ---VARIABLES---

// ---TEMPLATES---

// ---MIXINS---

// ---MAIN---

.wrapper {
	height: 100%;
	display: grid;
	grid-template: 1fr minmax(68px, auto) / minmax(20px,1fr) minmax(auto,1378px) minmax(20px,1fr);

	@media (min-width: 993px) {
		grid-template: 1fr minmax(68px, auto) / minmax(31px,1fr) minmax(auto,1378px) minmax(31px,1fr);
	}
}

.main {
	grid-column: 2/3;
}