// ---IMPORT---
@import "_nullify_style.scss";
// ---VARIABLES---

// ---TEMPLATES---

// ---MIXINS---

// ---MAIN---

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.community {
	&__container {
		position: relative;
		width: 1920px;
		height: 1209px;
		margin: 0 auto;
		background: linear-gradient(
			180deg,
			rgba(236, 240, 253, 0) 0%,
			rgba(236, 240, 253, 0.53) 14.32%,
			#ecf0fd 45.83%,
			rgba(236, 240, 253, 0.43) 84.33%,
			rgba(236, 240, 253, 0) 100%
		);
	}

	&__title {
		width: calc(520 / 1920 * 100%);
		position: absolute;
		top: 11.4%;
		left: 50%;
		transform: translateX(-50%);
		font-weight: 700;
		font-size: 55px;
		line-height: 70px;
		text-align: center;
		color: #272d4e;
	}

	&__block-wrapper {
		position: absolute;
		z-index: 3;
		top: 31.5%;
		left: 50%;
		transform: translateX(-50%);
		width: 38%;
	}

	&__block-text {
		position: relative;
		width: 100%;
		background: #ffffff;
		box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);
		border-radius: 20px;

		&::after {
			content: '';
			width: calc(472/730*100%);
			height: calc(215/391*100%);
			display: block;
			background: url(../images/community/dots_1.svg) center / contain no-repeat;
			position: absolute;
			z-index: -1;
			top: 10%;
			left: 55%;
		}
	}

	&__desc {
		position: relative;
		z-index: 4;
		padding: calc(106 / 730 * 100%) calc(87 / 730 * 100%) calc(82 / 730 * 100%);
		font-size: 26.7px;
		line-height: 40px;
		text-align: center;
		color: #94a2b3;
	}

	&__quotes {
		position: absolute;
		top: calc(28 / 391 * 100%);
		left: 50%;
		transform: translateX(-50%);
	}

	&__bg-block {
		width: calc(678 / 1920 * 100%);
		height: calc(363 / 1209 * 100%);
		position: absolute;
		z-index: 2;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: #ffffff;
		box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);
		border-radius: 20px;

		&::after {
			content: '';
			display: block;
			width: calc(618/678*100%);
			height: calc(331/363*100%);
			position: absolute;
			top: 60%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
			background: #ffffff;
			border-radius: 20px;
		}
	}
}
