section.banner
	.container.banner__wrapper
		p.banner__subtitle Creative Template
		h1.banner__title Welcome to MoGo
		.banner__button-container
			a.banner__button(href= "#" data-goto= ".about") Learn more
		.banner__menu
			.banner__menu-item
				a.banner__menu-link(href= "#" data-goto= ".banner")
					span 01
					|  Intro
			.banner__menu-item
				a.banner__menu-link(href= "#" data-goto= ".work")
					span 02
					|  Work
			.banner__menu-item
				a.banner__menu-link(href= "#" data-goto= ".about")
					span 03
					|  About
			.banner__menu-item
				a.banner__menu-link(href= "#" data-goto= ".contacts")
					span 04
					|  Contacts