section.blog
	.container
		+title("blog__title","Our Stories","Latest blog")
		.blog__block
			.blog__card
				.blog__pic
					img.blog__img(src= "@img/blog/blog_1.png")
					.blog__shortcut
						span 15
						|  JAN
				h5.subtitle.blog__subtitle Lorem ipsum dolor sit amet
				.blog__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis proin varius vitae leo eget tincidunt duis amet. Et amet dis vel imperdiet volutpat mauris est leo cursus.
				.blog__numbers
					.blog__views.icon-screw
						span 542
					.blog__replies.icon-thought
						span 17
			.blog__card
				.blog__pic
					img.blog__img(src= "@img/blog/blog_1.png")
					.blog__shortcut
						span 15
						|  JAN
				h5.subtitle.blog__subtitle Lorem ipsum dolor sit amet
				.blog__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis proin varius vitae leo eget tincidunt duis amet. Et amet dis vel imperdiet volutpat mauris est leo cursus.
				.blog__numbers
					.blog__views.icon-screw
						span 542
					.blog__replies.icon-thought
						span 17
			.blog__card
				.blog__pic
					img.blog__img(src= "@img/blog/blog_1.png")
					.blog__shortcut
						span 15
						|  JAN
				h5.subtitle.blog__subtitle Lorem ipsum dolor sit amet
				.blog__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis proin varius vitae leo eget tincidunt duis amet. Et amet dis vel imperdiet volutpat mauris est leo cursus.
				.blog__numbers
					.blog__views.icon-screw
						span 542
					.blog__replies.icon-thought
						span 17
