section.design
	.container
		+title("design__title","For all devices","unique design")
		.design__picture
			img.design__img(src= "@img/design/tablet.png")
			img.design__img_positioned(src= "@img/design/mobile.png")
