header.header
	.container.header__wrapper
		.header__logo-container
			img.header__logo(src= "@img/logo.svg" alt= "Mogo logo")
		+menu(links)
		.header__utils
			.header__utils-item.icon-basket
			.header__utils-item.icon-search
		.header__burger
			span