section.team
	.container
		+title("team__title","Who we are","meet our team","Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu facilisis sed venenatis lacus. Eget sit ridiculus facilisi amet. Dis sapien ipsum enim dui fermentum viverra dolor sit. Aliquet congue sit fermentum risus feugiat.")
		.team__cards
			+cardsTeam(teamCards,teamIcons)