-
	var links= {
		about: "About",
		service: "Service",
		work: "Work",
		blog: "Blog",
		contact: "Contact"
	}

-
	var aboutCards= [
		["@img/about/about_1.png","@img/about/about_2.png","@img/about/about_3.png"],
		"icon-people",
		"Super team"
	]

-
	var performance= [
		{count: 42, desc: "Lorem ipsum"},
		{count: 123, desc: "Lorem ipsum"},
		{count: 15, desc: "Lorem ipsum"},
		{count: 99, desc: "Lorem ipsum"},
		{count: 24, desc: "Lorem ipsum"}
	]

-
	var icons= [
		{icon: "mushroom",title: "photography", desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit."},
		{icon: "blocks",title: "web design", desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit."},
		{icon: "sword",title: "creativity", desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit."},
		{icon: "map",title: "seo", desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit."},
		{icon: "css",title: "css/html", desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit."},
		{icon: "aim",title: "digital", desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit."}
	]

-
	var teamCards= [
		{pic: "@img/team/team_1.png", name: "Kadin Dias", position: "founder, ceo"},
		{pic: "@img/team/team_2.png", name: "Zain Calzoni", position: "designer"},
		{pic: "@img/team/team_3.png", name: "Charlie George", position: "photographer"}
	]

-
	var teamIcons= [
		"@img/b_facebook.png",
		"@img/b_twitter.png",
		"@img/b_pinterest.png",
		"@img/b_instagram.png"
	]

-
	var quotes= [
		{quote: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque nec diam platea ullamcorper feugiat amet. Id aliquet vehicula feugiat arcu arcu nulla ornare. Sed amet venenatis, massa sit.", author: "John Doe"},
		{quote: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque nec diam platea ullamcorper feugiat amet. Id aliquet vehicula feugiat arcu arcu nulla ornare. Sed amet venenatis, massa sit.", author: "Don Joe"},
		{quote: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque nec diam platea ullamcorper feugiat amet. Id aliquet vehicula feugiat arcu arcu nulla ornare. Sed amet venenatis, massa sit.", author: "Joe Donnahue"},
		{quote: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque nec diam platea ullamcorper feugiat amet. Id aliquet vehicula feugiat arcu arcu nulla ornare. Sed amet venenatis, massa sit.", author: "Jonnie Deppie"},
		{quote: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque nec diam platea ullamcorper feugiat amet. Id aliquet vehicula feugiat arcu arcu nulla ornare. Sed amet venenatis, massa sit.", author: "Donny Jo"}
	]