.header {
	position: absolute;
	top: 0;
	left: 0;
	background: #000;
	width: 100%;
	height: 75px;

	&__container {
		height: 100%;
		position: relative;
	}

	&__logo {
		position: absolute;
		z-index: 3;
		height: 100%;
		left: -32px;
		& img {
			height: 32px;
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto 0;
		}
	}

	&__menu {
		height: 100%;
	}

	&__list {
		height: 100%;
		display: flex;
		justify-content: end;
		align-items: center;
	}

	&__link {
		&:link,
		&:visited,
		&:hover,
		&:active {
			color: #ffffff;
		}

	}

	&__item {
		font-family: "Open Sans";
		font-weight: 600;
		font-size: 14px;
		line-height: 75px;
		text-align: center;
		text-transform: capitalize;
		height: 75px;
		width: 114px;
		cursor: pointer;
		&:hover {
			background: #ec7979;
		}
		&:active {
			background: #ab4949;
		}
	}

	&__burger {
		display: none;
	}

	@media (max-width: 1509.98px) {
		&__logo {
			left: 11%;
		}
	}
	@media (max-width: 1023.98px) {
		height: 56px;

		&__logo {
			& img {
				height: 23px;
			}
			left: 20px;
		}

		&__menu {
			position: fixed;
			z-index: 2;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			background: #000;
			transition: 0.5s ease-out 0.1s;
			&._active {
				top: 56px;
			}
		}

		&__list {
			flex-direction: column;
			justify-content: start;
		}

		&__link {
			height: 68px;
			line-height: 68px;
		}

		&__burger {
			position: absolute;
			z-index: 2;
			right: 19px;
			top: 50%;
			transform: translateY(-50%);
			display: block;
			width: 24px;
			height: 18px;
			&::before,
			&::after,
			& span {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				width: 24px;
				height: 2px;
				background: #ffffff;
				transition: 0.5s ease-out 0s;
			}
			&::before {
				top: 0;
			}
			&::after {
				bottom: 0;
			}
			& span {
				top: 8px;
			}
			&._active span {
				transform: scale(0);
			}
			&._active::before {
				top: 8px;
				transform: rotate(-45deg);
			}
			&._active::after {
				top: 8px;
				transform: rotate(45deg);
			}
		}
	}
}
