.socials {
	background: #f8efef;
	padding: 20px 0 18px;
	@media (max-width: 320.98px) {
		padding: 45px 0;
	}

	&__row {
		display: flex;
		align-items: center;
		@media (max-width: 320.98px) {
			flex-direction: column;
		}
	}

	&__text-column {
		flex: 0 1 40%;
		@media (max-width: 320.98px) {
			text-align: center;
			width: 100%;
		}
	}

	&__icons-column {
		flex: 0 1 60%;
		@media (max-width: 320.98px) {
			width: 100%;
		}

	}

	&__title {
		font-family: "Open Sans";
		font-weight: 700;
		font-size: 24px;
		line-height: 33px;
		text-transform: capitalize;
		margin-bottom: 40px;
		width: 100%;
		@media (max-width: 1024.98px) {
			font-size: 18px;
			line-height: 25px;
			margin-bottom: 30px;
		}
		@media (max-width: 320.98px) {
			font-size: 18px;
			line-height: 25px;
			margin-bottom: 30px;
		}
	}

	&__text {
		font-family: "Raleway";
		font-size: 18px;
		line-height: 21px;
		color: #86878b;
		width: 100%;
		@media (max-width: 1024.98px) {
			font-size: 14px;
			line-height: 16px;
		}
		@media (max-width: 320.98px) {
			font-size: 14px;
			line-height: 16px;
			margin-bottom: 32px;
		}
	}

	&__icon {
		&:link,
		&:visited,
		&:hover,
		&:active {
			color: #cccccc;
		}
	}

	&__list {
	}

	&__link {
	}

	&__items {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}

	&__item {
		font-size: 70px;
		@media (max-width: 1024.98px) {
			font-size: 64px;
		}
		@media (max-width: 320.98px) {
			font-size: 26px;
		}
	}
}
