// ---IMPORT---
@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,regular,500,600,700,800,900);
@import "_nullify_style.scss";
@import "_nullify_buttons.scss";
@import "_nullify_links.scss";
@import "_header.scss";
@import "_banner.scss";
@import "_socials.scss";
@import "_about.scss";
@import "_tariffs.scss";
@import "_download.scss";
@import "_contact.scss";
@import "_footer.scss";
// ---VARIABLES---

// ---TEMPLATES---

// ---MIXINS---

// ---MAIN---

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
	@media (max-width: 1025px) {
		min-width: 500px;
	}
	@media (max-width: 321px) {
		min-width: 140px;
	}
}

.title {
	font-family: "Raleway";
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	text-transform: uppercase;
	&::after {
		content: "";
		display: block;
		width: 170px;
		height: 1px;
		background: #ec7979;
		margin: 60px auto 40px;
	}
	@media (max-width: 1025px) {
		font-size: 24px;
		line-height: 28px;
		&::after {
			width: 142px;
			margin: 50px auto 30px;
		}
	}
	@media (max-width: 321px) {
		font-size: 18px;
		line-height: 21px;
		&::after {
			width: 134px;
			margin: 50px auto 25px;
		}
	}
}

.slogan {
	font-family: "Raleway";
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #86878b;
	@media (max-width: 1025px) {
		font-size: 14px;
		line-height: 16px;
	}
	@media (max-width: 321px) {
		font-size: 13px;
		line-height: 15px;
	}
}

.flex-block {
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 321px) {
			flex-direction: column;
		}
	}

	&__col {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		min-width: 135px;

		@media (max-width: 321px) {
			margin-bottom: 43px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	& img {
		display: none;
	}
}

.button {
	display: block;
	text-align: center;
	font-family: "Open Sans";
	font-weight: 600;
	font-size: 18px;
	line-height: 18px;
	text-transform: capitalize;
	padding: 20px;

	&_red {
		color: #ffffff;
		background: #ec7979;

		&:hover {
			background: #ab4949;
		}

		&:active {
			background: #ec7979;
			box-shadow: inset 0px 0px 10px #ab4949;
		}
	}

	&_transparent {
		color: #ffffff;
		background: transparent;
		border: 2px solid #ffffff;
		box-shadow: 0 0 3px #ffffff;

		&:hover {
			color: #ec7979;
			border: 2px solid #ec7979;
		}

		&:active {
			color: #ffffff;
			background: #ab4949;
		}
	}

	@media (max-width: 321px) {
		padding: 16px;
	}
}

.user-form {
	&__list {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__link {
	}

	&__item {
		font-family: "Open Sans";
		font-size: 18px;
		line-height: 18px;
		border-bottom: 1px solid #bdbdbd;
		width: 100%;
		padding: 16px 0;

		&::placeholder {
			font-size: 14px;
			line-height: 18px;
			color: #bdbdbd;
		}

		&_high {
			display: block;
			// vertical-align: top; // To remove descenders in text use va: top or d: block
			height: 220px;
			outline: none;
			resize: none;
			overflow: auto;
			padding-top: 23px;
		}
	}
}

.logo {
}

@media (max-width: 321px) {
	body.lock {
		overflow: hidden;
	}
}
