@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,regular,500,600,700,800,900);
/*--- Style reset ---*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, textarea, button {
  font-size: inherit;
}

input -ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button -moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited, a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*---------------*/
.about__slogan {
  margin-bottom: 110px;
}

.about__icon {
  width: 92px;
  height: 92px;
  border: 1px solid #ec7979;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}

.about__caption {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 40px;
  padding: 0 10px;
}

.about__desc {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-bottom: 58px;
  padding: 0 10px;
}

@media (max-width: 1025px) {
  .about__slogan {
    margin-bottom: 65px;
  }
  .about__icon {
    width: 80px;
    height: 80px;
    margin-bottom: 65px;
  }
  .about__caption {
    font-size: 18px;
    line-height: 25px;
  }
  .about__desc {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 321px) {
  .about__slogan {
    margin-bottom: 80px;
  }
  .about__icon {
    width: 80px;
    height: 80px;
    margin-bottom: 65px;
  }
  .about__caption {
    font-size: 18px;
    line-height: 25px;
  }
  .about__desc {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 43px;
  }
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 1025px) {
  .container {
    min-width: 375px;
  }
}

@media (max-width: 321px) {
  .container {
    min-width: 140px;
  }
}

.title {
  font-family: "Raleway";
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 110px;
}

.title::after {
  content: "";
  display: block;
  width: 170px;
  height: 1px;
  background: #ec7979;
  margin: 60px auto 40px;
}

@media (max-width: 1025px) {
  .title {
    font-size: 24px;
    line-height: 28px;
    margin-top: 100px;
  }
  .title::after {
    width: 142px;
    margin: 50px auto 30px;
  }
}

@media (max-width: 321px) {
  .title {
    font-size: 18px;
    line-height: 21px;
    margin-top: 80px;
  }
  .title::after {
    width: 134px;
    margin: 50px auto 25px;
  }
}

.slogan {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

@media (max-width: 1025px) {
  .slogan {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 321px) {
  .slogan {
    font-size: 13px;
    line-height: 15px;
  }
}

.flex-block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 321px) {
  .flex-block__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.flex-block__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
