extends html/_layout
block title
	title MOGO
block favicon
	link(rel="icon", href="@img/favicon.png")

block main
	include html/_banner
	include html/_about
	include html/_performance
	include html/_service
	include html/_design
	include html/_job
	include html/_quotes
	include html/_team
	include html/_tech
	include html/_work
	include html/_statements
	include html/_reviews
	include html/_blog
	include html/_contacts
