.todo__list {
	margin-top: 1rem;
	transform: scaleY(0);
	max-height: 0;
	transition: 0.5s ease-in-out;
}

.todo__list._active {
	transform: scaleY(1);
	max-height: 100%;
}

.todo__item {
	margin-bottom: 1rem;
}

hr + .todo__item._done {
	margin-top: 1rem;
}

.todo__item-picker {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	background-color: #fff;
	padding: 0.5rem;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 0.2rem;
}

.todo__title {
	flex: 1 1 auto;
	color: var(--dark);
	font-size: 1.125rem;
}

.todo__desc {
	display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: var(--dark);
	background-color: #fff;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	resize: none;
	outline: none;
	border: none;
	flex: 1 1 auto;
}

.todo__imp-wrapper {
	position: relative;
}

.todo__importance,
.todo__imp-item {
	position: relative;
	display: block;
	margin: 0 0.5rem;
	line-height: 2.4rem;
	border-radius: 0.5rem;
	color: var(--dark);
	background-color: #fff;
	opacity: 0.6;
	transition: 0.5s ease-in-out;
	width: 2.5rem;
	height: 2.5rem;
}

.todo__importance[data-importance='0'],
.todo__imp-item[data-importance='0'] {
	background: url("../icons/generic.png") no-repeat center/cover;
}

.todo__importance[data-importance='1'],
.todo__imp-item[data-importance='1'] {
	background: url("../icons/important.png") no-repeat center/cover;
}

.todo__importance[data-importance='2'],
.todo__imp-item[data-importance='2'] {
	background: url("../icons/crucial.png") no-repeat center/cover;
}

.todo__imp-container {
	left: -0.5rem;
}

.todo__item:last-child .todo__imp-container {
	bottom: 2.5rem;
	left: -0.5rem;
}

.todo__imp-item {
	margin-top: 0.5rem;
	cursor: pointer;
}

.todo__imp-item:first-child {
	margin-top: 0;
}

.todo__category-wrapper {
	margin-right: 1rem;
	position: relative;
}

.todo__category,
.todo__category-item {
	padding: 0.5rem;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	color: #fff;
	font-size: 0.8rem;
	width: 100%;
	text-align: center;
}

.todo__category-container,
.todo__imp-container {
	/*display: none;*/
	position: absolute;
	padding: 0.5rem;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	background-color: #fff;
	z-index: 2;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	transform: scaleY(0);
	max-height: 0;
	transition: 0.5s ease-in-out;
}

.todo__category-container {
	overflow-y: auto;
}

.todo__category-container._active,
.todo__imp-container._active {
	/*display: block;*/
	transform: scaleY(1);
	max-height: 12.6rem;
}

.todo__category-item {
	margin-top: 0.5rem;
	cursor: pointer;
	list-style: none;
}

.todo__category-item:first-child {
	margin-top: 0;
}

.todo__item:last-child .todo__category-container {
	bottom: 2rem;
}

.todo__expiry {
	width: 6rem;
}

.todo__edit,
.todo__save,
.todo__cancel,
.todo__delete {
	display: block;
	padding: 0.5rem;
	border-radius: 0.5rem;
	color: #fff;
	cursor: pointer;
	transition: 0.5s ease-in-out;
}

.todo__edit:hover,
.todo__save:hover,
.todo__cancel:hover,
.todo__delete:hover {
	opacity: 1;
}

.todo__edit,
.todo__cancel {
	background-color: var(--primary);
	opacity: 0.8;
}

.todo__delete,
.todo__save {
	background-color: var(--danger);
	opacity: 0.8;
}

.todo__item._done .todo__title,
.todo__item._done .todo__desc {
	text-decoration: line-through;
	color: var(--grey);
}

.todo__label {
	display: block;
	cursor: pointer;
	margin-left: 0.5rem;
}

.todo__bubble {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--primary);
	/*box-shadow: var(--default-glow);*/
}

.todo__bubble::before {
	position: absolute;
	top: -1rem;
	left: -0.1rem;
	content: "\2713";
	display: block;
	opacity: 0;
	font-size: 1.8rem;
	/*background-color: var(--primary);*/
	border-radius: 50%;
	transition: 0.5s ease-in-out;
}

.todo__checkbox {
	display: none;
}

.todo__checkbox:checked ~ .todo__bubble::before {
	opacity: 1;
}
